
<div class="container body-content main-content">
    <div class="row">
        <div class="col-md-12" style="background-color:sandybrown">
            <div style="width:1170px;height:100px;text-align:center;line-height:100px">
                <p style="color:white;font-size:25px">关于我们</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="width:1170px;height:100px;">
             <table class="table">
                 <tr>
                     <td>团队愿景</td>
                 </tr>
                 <tr>
                     <td>区块链行业如今发展的如火如荼,就如当年的“互联网+”一样区块链技术也快速与各个行业快速融合，而与之相结合的虚拟货币也再次火了起来，TTG虚拟货币交易平台的目标便是一个模拟为相关虚拟币提供交易保障服务的平台。</td>
                 </tr>
             </table>
                <table class="table">
                    <tr>
                        <td>联系我们</td>
                    </tr>     
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/WX.png" class="img-responsive" />
                    </div>
                    <div class="col-md-6"><img src="~/img/qq.jpg" class="img-responsive" height="600"/></div>
                </div>
            </div>
        </div>
    </div>
</div> 