
<div class="container body-content main-content">
    <div class="row">
        <div class="col-md-12" style="background-color:sandybrown">
            <div style="width:1170px;height:100px;text-align:center;line-height:100px">
                <p style="color:white;font-size:25px">加入我们</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="width:1170px;height:100px;">
                <table class="table">
                    <tr>
                        <td>招募令</td>
                    </tr>
                    <tr>
                        <td>暂无</td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td>联系我们</td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/WX.png" class="img-responsive" />
                    </div>
                    <div class="col-md-6"><img src="~/img/qq.jpg" class="img-responsive" height="600" /></div>
                </div>
            </div>
        </div>
    </div>
</div> 