html{
    height: 100%;
 }
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.body-content {
    margin-top:20px;
    padding-left: 15px;
    padding-right: 15px;
}
header{
     /*我们希望 header 采用固定的高度，只占用必须的空间*/ 
     /*0 flex-grow, 0 flex-shrink, auto flex-basis*/ 
    flex: 0 0 auto;
  }
.main-content{
     /*将 flex-grow 设置为1，该元素会占用所有的可使用空间
     而其他元素该属性值为0，因此不会得到多余的空间*/
     /*1 flex-grow, 0 flex-shrink, auto flex-basis*/ 
    flex: 1 0 auto;
  }
footer {
     /*和 header 一样，footer 也采用固定高度*/
     /*0 flex-grow, 0 flex-shrink, auto flex-basis*/ 
    flex: 0 0 auto;
    padding-bottom:0;
   
}
.registerbg{
  margin:10px auto;
  background-image:url(/img/RegisterBg.png) ;
  background-repeat:no-repeat;
}
.findpwbg{
  margin:10px auto;
}
.input-group {
    max-width:280px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 #t {
      padding-left: 0;
 }
 #FirtRow{
      background-color:black;
      padding-top:0;
}
 #FirtRow span{
     color:white;
 }
 span b{
  color:white;font-size:medium;
        }
 .col-md-6 a:link{
             color:white;
             text-decoration:none;
        }
a:link{
     text-decoration:none;
    
 }
#AddEntrust a:link {
    text-decoration: none;
    color: black;
}
 a:hover{
   color:khaki;
         }
.btn{
     color:gainsboro;
 }
 #grid{
    padding-left:10px;
    color:red;
 }
  #grid1{
    padding-left:10px;
    color:white;
 }
.cointocoinbg{
    background-color:#eeeeee;
}
.myAffix{
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    margin-right:5px;
    display:inline-block;
    
}

.oval{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
width:85px;

margin-left :6px;
} 



 