<div class="container body-content main-content">
    <div class="row">
        <div class="col-md-12">
            <img src="~/img/Rate.png" class="img-responsive" style="width:100%" />
        </div>
    </div>
</div>